form{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
form button{
  border-radius: 5px !important;
  background-color: #007bff;
  color: white;
  width: 35%;
  margin: auto;
}
input{
  border: none;
  border-bottom: 1px grey solid;
  margin-bottom: 1em !important;
  outline: none;
}
input:focus{
  border-bottom: 2px purple solid;
}
@media screen and (max-width: 768px){
  form{
    width: 100%;
  }
  form input{
    font-size: 3em !important;
  }
  form button{
    font-size: 3em !important;
    width: 60%;
  }
  .msg-alert{
    font-size: 3em !important;
  }
}
